body{
    background-color: #232323;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 50px;
}

.kruh1{
    height: 250px;
    width: 250px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;  
    left: 50%;
    border-radius: 50%;
    border: 5px solid white;
    animation: animate 5s ease-out infinite forwards;
}

.kruh2{
    height: 250px;
    width: 250px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;  
    left: 35%;
    border-radius: 50%;
    border: 5px solid white;
    animation: animate 5s ease-out infinite forwards;
    
}

.kruh3{
    height: 250px;
    width: 250px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;  
    left: 65%;
    border-radius: 50%;
    border: 5px solid white;
    animation: animate 5s ease-out infinite forwards;
    
}

#sekunda{
    color: white;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;  
    left: 65%;

}

#minuta{
    color: white;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;  
    left: 50%;
    
}

#hodina{
    color: white;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;  
    left: 35%;
}

#start{
    height: 55px;
    width: 140px;
    background-color: #232323;
    color: white;
    font-size: 15px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 70%;  
    left: 50%;
    border-radius: 50px;
    border: 3px solid white;
}

#reset{
    height: 45px;
    width: 110px;
    background-color: #232323;
    color: white;
    font-size: 13px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 77%;  
    left: 50%;
    border-radius: 50px;
    border: 3px solid white;
}

#plus1{
    height: 45px;
    width: 100px;
    background-color: #232323;
    color: white;
    font-size: 15px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 70%;  
    left: 57%;
    border-radius: 50px;
    border: 3px solid white;
}

#plus2{
    height: 40px;
    width: 90px;
    background-color: #232323;
    color: white;
    font-size: 15px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 70%;  
    left: 62%;
    border-radius: 50px;
    border: 3px solid white;
}

#plus3{
    height: 35px;
    width: 80px;
    background-color: #232323;
    color: white;
    font-size: 15px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 70%;  
    left: 1276px;
    border-radius: 50px;
    border: 3px solid white;
}

#minus1{
    height: 45px;
    width: 100px;
    background-color: #232323;
    color: white;
    font-size: 15px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 70%;  
    left: 43%;
    border-radius: 50px;
    border: 3px solid white;
}

#minus2{
    height: 40px;
    width: 90px;
    background-color: #232323;
    color: white;
    font-size: 15px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 70%;  
    left: 38%;
    border-radius: 50px;
    border: 3px solid white;
}

#minus3{
    height: 35px;
    width: 80px;
    background-color: #232323;
    color: white;
    font-size: 15px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 70%;  
    left: 644px;
    border-radius: 50px;
    border: 3px solid white;
}

@keyframes animate
{
    0%, 100%{
        box-shadow: 0px 0px 5px #B440F2;
    }
    50%{
        box-shadow: 0px 0px 20px #B440F2;
    }
    
}

button:hover{
    box-shadow: 0px 0px 20px #B440F2;
}
